# Xcode
#
build/
DerivedData/

# Xcode specific
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate

# SwiftPM
#
.build/
Package.resolved
Packages/
.idea/

# CocoaPods
#
Pods/
Podfile.lock

# Carthage
#
Carthage/Build/
Carthage/Checkouts/
Carthage/Pods/

# Accio dependency management
Dependencies/
.accio/

# fastlane
#
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/readme.md

# Code Injection
#
ci/

# AppCode
#
*.iml
.idea/
*.ipr
*.iws

# Other
#
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Playground
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.swiftpm

